<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Píratar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="mainController">

      <div class="row">
        <div class="col-md-12">
          <h2>Calculon</h2>
        </div>
      </div>  <!-- end row -->
      <hr />

      <div class="row">
        
        <div class="col-md-6 col-xs-6">
          <label for="original_amount">Upphæð</label>
          <div class="input-group input-group">
            <span class="input-group-addon">Kr</span>
            <input type="number" class="form-control" ng-model="original_amount" ng-init="original_amount = 1000" placeholder="Original Amount" id="original_amount" />
          </div> 
        </div> <!-- end row -->
      </div>

      <br />

      <div class="row">
        <div class="col-md-4 col-xs-4">
          <label for="interest_rate">Vextir</label>
          <div class="input-group input-group">
            <span class="input-group-addon">%</span>
            <input type="number" class="form-control" ng-model="interest_rate" ng-init="interest_rate = 3" placeholder="Interest Rate" id="interest_rate" />
          </div>
        </div>
      </div> <!-- end row -->


      <br />
      <div class="row">
       <div class="col-md-12">
          <button class="btn btn-primary" ng-click="result()" type="submit">Reikna</button>
          <h4 ng-model="final_amount">Final amount: {{ result() }}</h4>
       </div>
      </div> <!-- end row -->


    </div> <!-- End container -->
  </body>
</html>
